@model MassScheduler.Models.Meeting

@{
    ViewBag.Title = "Confirm Event Deletion";
}

<div class="page">
    <span class="heading">
        @Html.ActionLink("Events", "index", "meetings")
    </span>
    <section class="speaker confirmation">
        <header>
            <h1>@ViewBag.Title</h1>
            <strong>Are you sure you want to remove "<em>@Model.Title</em>"?</strong>
        </header>
        <p>This action is permanent and cannot be undone.</p>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <p class="form-controls">
                <input type="submit" value="Delete Event" class="button destructive" />
            </p>
        }
    </section>
</div>