@import 'settings';
@import 'normalize';

body {
    color: @fontColor;
    font-size: @fontSize;
    font-family: @fontFamily;
    line-height: @lineHeight;
}

a {
    color: @green;
    text-decoration: none;

    &:hover {
        color: darken(@green, 20%);
    }
}

table {
    border-collapse: collapse;
    width: 100%;

    th {
        text-align: left;
        font-weight: normal;
    }

    th, 
    td {
        padding: .25em;
        vertical-align: top;
    }
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

#menu {
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        list-style: none;
        float: left;
    }

    a {
        display: block;
        background-color: @lightGreen;
        padding: .5em 1.25em;
        .transition(background-color 250ms ease-out);

        &:hover,
        &:focus {
            background-color: darken(@lightGreen, 10%);
        }
    }
}

.wrapper {
    width: 90%;
    margin: 2em auto;
}

.schedule {
    width: 100%;

    .group-date {
        background: darken(@lightGreen, 30%);
        padding: 10px;
        font-size: 1.1em;
    }

    .event-bar {
        position: relative;
        clear: both;
        overflow: hidden;
        padding: 10px;
        border-bottom: 1px solid darken(@lightGreen,20%);
    }
}

.col1,
.col2,
.col3,
.col4 {
    float: left;
    overflow: hidden;
    position: relative;
}

.col1 {
    width: 25%;
}

.col2 {
    width: 45%;
}

.col3,
.col4 {
    width: 15%;
}

.col4 {
    float: right;
}

.hidden {
    display: none;
}

.meeting-meta {
    dt {
        font-weight: bold;
        display: block;
        float: left;
        width: 75px;
    }
}

.action-bar {
    list-style: none;
    padding: 0;

    li {
        display: inline;

        &:before {
            content: " | ";
        }

        &:first-child:before {
            content: "";
        }
    }
}

/*
    Forms
*/
fieldset {
    input[type='text'] {
        width: 50%;
        max-width: 700px;
    }

    textarea {
        width: 50%;
        max-width: 700px;
        height: 15em;
    }

    label {
        font-weight: bold;
    }

    input[type='text'],
    textarea {
        margin-bottom: 10px;
    }
}

[class^="icon-"], 
[class*=" icon-"] 
{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    background-repeat: no-repeat;
}

.icon-attending {

}

.attending .icon-attending {
    background-image: url('../img/star.png');
}