@import 'settings';
@import 'normalize';

body {
    background: #b2c77e url(/public/img/square_bg.png);
    color: @fontColor;
    font-size: @fontSize;
    font-family: @fontFamily;
    line-height: @lineHeight;
}

a {
    color: @blue;
    text-decoration: none;

    &:hover {
        color: darken(@blue, 20%);
    }
}

strong {
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
        font-weight: normal;
    }

    th,
    td {
        padding: .25em;
        vertical-align: top;
    }
}

hr {
    clear: both;
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}


h1, h2, h3 {
    font-weight: normal;
}

h4,h5,h6 {
    font-weight: 600;
}

h1 {
    font-size: 1em;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 7px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

img {
    max-width: 100%;
}

.block-strip(@color) {
    position: relative;
    padding: .5em 1em;
    background-color: @color;
}

.wrapper {
    margin: 0 auto 2em;
    min-width: 760px;
    width: 70%;
}

.heading {
    position: relative;
    top: -.85em;
    margin-bottom: 2em;
    margin-left: -3.5em;
    font-size: 9pt;
    text-transform: uppercase;

    a {
        display: inline-block;
        color: #FFF;
        .transition(e('color 150ms ease-in, background-color 150ms ease-out'));
        .block-strip(@blue);

        &:hover,
        &:focus {
            background-color: darken(@green,10%);
        }
    }
}

.page {
    position: relative;
    padding: 2rem;
    background-color: #FFF;
    .box-shadow(0px 1px 5px rgba(0, 0, 0, .15));

    header {
        h1 {
            margin-top: 0;
            font-size: 1.5em;
        }
    }
}

#page-hdr {
    margin-top: 2em;
}

#logo {
    h1 {
        .hide();
    }
}

#menu {
    position: relative;
    margin: 0 0 0 5px;
    padding: 0;
    .clearfix;

    li {
        float: left;
        margin-right: 2px;
        list-style: none;
    }

    a {
        display: block;
        padding: .5em 1.25em;
        border: 1px solid darken(@green, 10%);
        border-width: 1px 1px 0;
        background-color: @green;
        color: #FFF;
        .transition(e('all 200ms ease-out'));

        &:hover,
        &:focus {
            margin-top: -.5em;
            padding-bottom: 1em;
            background-color: darken(@green, 15%);
            color: #FFF;
        }
    }
}

.events {
    width: 100%;

    .group-date {
        padding: 10px;
        background: @green;
        color: #FFF;
        font-size: 9pt;
        font-weight: 600;
        text-transform: uppercase;
    }

    .event-bar {
        position: relative;
        clear: both;
        overflow: hidden;
        padding: 10px;
        border-bottom: 1px solid darken(@lightGreen,20%);
    }

    > .event:nth-child(even) {
        background-color: lighten(@lightGreen, 11%);
    }
}

.meeting-meta {
    dl {
        margin: 0 10px 0 0;
    }

    dt {
        display: block;
        float: left;
        margin-right: 5px;
        width: 125px;
        text-align: right;
        font-weight: 600;
        text-transform: uppercase;
    }

    dd {
        margin-left: 135px;
        margin-top: 1px;
    }
}

.note {
    font-size: 9pt;
}

.panels {
    overflow: hidden;

    .item {
        position: relative;
        display: block;
        float: left;
        overflow: hidden;
        margin-right: 1%;
        margin-bottom: 1%;
        width: 19%;
        height: 200px;
        text-align: center;

        img {
            width: 100%;
        }
    }
}

.speakers {
    .speaker {
        h2 {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 2px 5px;
            background-color: @lightGreen;
            background-color: rgba(222, 225, 205, .9);
            font-size: 1.25em;
        }
    }
}

.bio-info {
    margin-left: 10px;
}


.action-bar {
    margin: 0;
    padding: 0;

    li {
        display: inline;
        margin-right: 5px;
    }
}

.page-actions {
    float: right;
    font-size: 9pt;
}

/*
    Forms
*/
form {
    fieldset {
        padding: 0;
        border: none;
    }

    legend {
        margin-bottom: 1em;
        border-bottom: 1px solid @lightGreen;
        text-transform: uppercase;
    }

    input[type='text'],
    input[type='email'],
    input[type='number'],
    input[type='file'],
    select[multiple] {
        max-width: 700px;
        width: 50%;
    }

    textarea {
        max-width: 700px;
        width: 50%;
        height: 15em;
    }

    label {
        font-weight: bold;
    }

    input[type='text'],
    input[type='email'],
    input[type='number'],
    input[type='file'],
    input[type='checkbox'],
    select,
    textarea {
        margin-bottom: 10px;
        padding: 3px;
    }

    .form-controls {
        margin-top: 1em;
    }
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    margin-bottom: -3px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    line-height: 16px;
}

.attending .icon-attending {
    background-image: url(/public/img/accept.png);
}

.col1,
.col2,
.col3,
.col4 {
    position: relative;
    float: left;
    overflow: hidden;
}

.col1 {
    width: 30%;
}

.col2 {
    width: 50%;
}

.col3 {
    float: right;
    width: 20%;
    text-align: right;
}

.list-plain {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.tabbed {
    .list-plain;

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 5px;
    }
}

.hidden {
    display: none;
}

.underlined {
    border-bottom: 1px solid @green;
}

.button {
    @bg: #F0F0F0;
    display: inline-block;
    padding: 4px 10px 5px;
    border: 1px solid darken(@bg, 10%);
    border-radius: 3px;
    background-color: @bg;
    color: @fontColor;
    text-align: center;
    text-shadow: 0 1px 0 lighten(@bg, 10%);
    .transition(all 150ms ease-in);
    .box-shadow(inset 0 0 1px 1px lighten(@bg,3%));

    &:hover {
        background-color: darken(@bg, 5%);
        box-shadow: inset 0 0 1px 1px darken(@bg,8%);
        color: darken(@fontColor, 5%);
        cursor: pointer;
    }

    &:active {
        border-color: darken(@bg, 10%);
        background-color: darken(@bg, 5%);
        .box-shadow(inset 1px 0 2px 2px darken(@bg,15%));
    }

    &.minimal {
        padding: 2px 5px 2px;
    }

    &.positive {
        @bg: @blue;
        @text: #FFF;
        border-color: darken(@bg, 10%);
        background-color: @bg;
        color: @text;
        text-shadow: 0 1px 0 darken(@bg, 50%);
        .box-shadow(inset 0 0 1px 1px lighten(@bg,3%));

        &:hover {
            background-color: darken(@bg, 10%);
            .box-shadow(inset 0 0 1px 1px darken(@bg,12%));
        }

        &:active {
            .box-shadow(inset 0 0 2px 2px darken(@bg,12%));
        }
    }

    &.destructive {
        @bg: #b70727;
        border-color: darken(@bg, 10%);
        background-color: @bg;
        color: #FFF;
        text-shadow: 0 1px 0 darken(@bg, 50%);
        .box-shadow(inset 0 0 1px 1px lighten(@bg,3%));

        &:hover {
            background-color: darken(@bg, 5%);
            .box-shadow(inset 0 0 1px 1px darken(@bg,8%));
        }
    }
}

.group {
    .clearfix;

    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .focus {
        position: relative;
        float: left;
        width: 75%;

        &.med {
            width: 55%;
        }
    }

    .secondary {
        position: relative;
        float: left;
        width: 25%;

        &.med {
            width: 45%;
        }
    }
}

.menu {
    padding-left: 0;

    li {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;

        &:first-child {
            .menu-item {
                border-top: 1px solid darken(@green,5%);
            }
        }
    }

    .menu-item {
        position: relative;
        display: block;
        padding: .5rem 1rem;
        border-bottom: 1px solid darken(@green,5%);
        background-color: @lightGreen;
        .block-strip(@lightGreen);
    }

    a.menu-item {
        .transition(all 125ms ease-in);

        &:hover {
            background-color: @blue;
            color: #FFF;
        }
    }

    b.menu-item {
        background-color: @green;
        color: #FFF;
        font-weight: normal;

        &:after {
            position: absolute;
            top: 50%;
            right: 100%;
            margin-top: -1.25rem;
            width: 0;
            height: 0;
            border: solid transparent;
            border-width: 1.25rem;
            border-style: solid;
            border-right-color: @green;
            content: " ";
        }
    }

    &.right {
        .menu-item {
            border-right: 1px solid darken(@lightGreen,10%);
        }
    }
}

.notifications {
    p {
        margin: 0;
        padding: .5em;
        border: 1px solid darken(@green,10%);
        border-width: 0 1px 1px 1px;
        background: @lightGreen;
    }

    a.close {
        float: right;
        font-size: .85em;
    }
}
