@import 'settings';
@import 'normalize';

body {
    color: @fontColor;
    font-size: @fontSize;
    font-family: @fontFamily;
    line-height: @lineHeight;
}

a {
    color: @green;
    text-decoration: none;

    &:hover {
        color: darken(@green, 20%);
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
        font-weight: normal;
    }

    th,
    td {
        padding: .25em;
        vertical-align: top;
    }
}

p {
    margin: 0 0 1.5em;
}

h1, h2, h3 {
    font-weight: normal;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 7px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.wrapper {
    margin: 2em auto;
    min-width: 760px;
    width: 70%;
}

#menu {
    overflow: hidden;
    margin: 0;
    padding: 0;

    li {
        float: left;
        list-style: none;
    }

    a {
        display: block;
        padding: .5em 1.25em;
        background-color: @lightGreen;
        .transition(background-color 250ms ease-out);

        &:hover,
        &:focus {
            background-color: darken(@lightGreen, 10%);
        }
    }
}

#event-details {
    overflow: hidden;

    section {
        float: left;
        width: 35%;
    }

    aside {
        margin-left: 40%;
    }
}

.events {
    width: 100%;

    .group-date {
        padding: 10px;
        background: darken(@lightGreen, 30%);
        font-size: 1.1em;
    }

    .event-bar {
        position: relative;
        clear: both;
        overflow: hidden;
        padding: 10px;
        border-bottom: 1px solid darken(@lightGreen,20%);
    }
}

.meeting-meta {
    dt {
        display: block;
        float: left;
        width: 75px;
        font-weight: bold;
    }
}

.action-bar {
    padding: 0;

    li {
        margin-right: 5px;
        display: inline;
    }
}

/*
    Forms
*/
fieldset {
    border: none;
    padding: 0;

    legend {
        text-transform: uppercase;
        border-bottom: 1px solid @lightGreen;
        margin-bottom: 1em;
    }

    input[type='text'] {
        max-width: 700px;
        width: 50%;
    }

    textarea {
        max-width: 700px;
        width: 50%;
        height: 15em;
    }

    label {
        font-weight: bold;
    }

    input[type='text'],
    textarea {
        margin-bottom: 10px;
        padding: 3px;
    }

    .form-controls {
        margin-top: 1em;
    }
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    margin-top: 1px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    line-height: 14px;
}

.icon-attending {
}

.attending .icon-attending {
    background-image: url('../img/star.png');
}

.col1,
.col2,
.col3,
.col4 {
    position: relative;
    float: left;
    overflow: hidden;
}

.col1 {
    width: 25%;
}

.col2 {
    width: 45%;
}

.col3,
.col4 {
    width: 15%;
}

.col4 {
    float: right;
}

.list-plain {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.tabbed {
    .list-plain;

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 5px;
    }
}

.hidden {
    display: none;
}

.button {
    &.minimal {
        background: @lightGreen;
        border: 1px solid #bbb;
        border-radius: 3px;
        box-shadow: inset 0 0 1px 1px lighten(@lightGreen,10%);
        color: #333;
        padding: 4px 10px 5px;
        text-align: center;
        text-shadow: 0 1px 0 #fff;

        &:hover {
            background: darken(@lightGreen, 10%);
            box-shadow: inset 0 0 1px 1px @lightGreen;
            color: #222;
            cursor: pointer;
        }
    }
}