@model MassScheduler.Models.Speaker

@{
    ViewBag.Title = Model.Name;
}

<hgroup>
    <h1>@Html.ActionLink("Speakers", "index", "speakers")</h1>
</hgroup>
<div class="split-view">
    <article class="speaker details">
        <hgroup>
            <h1>@Model.Name</h1>
            @Html.UploadedImage(Model.Photo)
        </hgroup>
        @Html.Markdown(Model.Bio)
    </article>
    <aside>
        
    </aside>
</div>