@model IEnumerable<MassScheduler.Models.Speaker>

@{
    ViewBag.Title = "Speakers";
}

<div class="page">
    <hgroup>
        <h1>@Html.ActionLink("Speakers", "index", "speakers")</h1>
    </hgroup>
    <div class="speakers panels">
        @foreach (var item in Model)
        {
            <div class="item speaker">
                <a href="@Url.Action("details", "speakers", new { id = item.Id })">
                    @Html.UploadedImage(item.Photo)
                    <h2>@item.Name</h2>
                </a>
            </div>
        }
    </div>
</div>