@model IEnumerable<MassScheduler.Models.Speaker>

<ul class="menu">
    @foreach (var item in Model)
    {
        <li>
            @if (ViewBag.CurrentSpeaker == item.Id)
            {
                <b class="menu-item">@item.Name</b>
            }
            else
            {
                @Html.ActionLink(item.Name, "details", "speakers", new {id = item.Id}, new {@class = "menu-item"})
            }
        </li>
    }
</ul> 