@model MassScheduler.Models.Meeting

@{
    ViewBag.Title = "Cancellation Confirmed";
}

<header>
    <span class="heading">
        @Html.ActionLink("Events", "index", "meetings")
    </span>
</header>
<div class="page">
    <header>
        <h1>We're cancelled your RSVP to "@Model.Title"</h1>
    </header>
    <p>Sorry you won't be able to make it!</p>
</div>